.finding
  width 100%
  height 100%
  background-color $bodybgc
  .banner-container
    width 90%
    margin 10px auto
    border-radius 10px
    overflow hidden
  .menus
    width: 95%
    margin: 0 auto
    display flex
    flex-wrap wrap
    justify-content space-around
    .one-menu
      position relative
      width 30%
      border-radius 5px
      margin 5px 0
      // margin-top: 5px
      overflow hidden
      img
        width 100%
        border-radius 5px
      .one-name
        width 100%
        display inline-block
        color $fontColor
        font-size 10px
        line-height 16px
        overflow: hidden ;
        display: -webkit-box ;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
        word-break: break-all ;
        height 30px
        margin-top 2px
  .river-title
    width 94%
    height 50px
    margin: 0 auto
    color $fontColor
    position relative
    border-top: 1px solid rgba(150,150,150,.2)
    span:first-child,span:nth-child(2)
      font-weight 900
      font-size 20px
      float left
      margin-left 10px
      line-height 50px
    span:last-child,span:nth-child(3)
      float right
      width: 60px
      text-align: center
      font-size 12px
      margin-right 5px
      border 1px solid rgba(150,150,150,.2)
      height 20px
      position: absolute
      top: 50%;
      margin-top: -10px
      right 5px
      line-height: 20px
      border-radius 10px
  .play-count
    position absolute
    right 5px
    text-shadow 2px 2px 2px black
    top 0
    text-align right
    font-size 10px
    height 20px
    line-height 20px
    .play-num
      margin-left 4px
      color white
  .list-container
    display flex
    justify-content space-around
    width 100%
    margin 15px 0
    .svg-container
      text-align center
    .list-text
      text-align center
      font-size 10px
      color $fontColor
.singer-name,.dish-name
  display: block
  font-size: 14px
  overflow hidden
  text-overflow: ellipsis 
  white-space nowrap
.top-header .slot-container .center-search input[data-v-1f8284bc]
  color black
.isNow
  text-decoration:underline
  color: rgb(192,1,32)
.slide-left-enter-active {
  transition: all .3s linear;
}
.slide-left-leave-active {
  transition: all .3s linear;
}
.slide-left-enter
  transform: translateX(100%)
.slide-left-leave-to
  transform: translateX(-100%)
