@font-face {
    font-family: 'ywyb';
    src: url('../font/禹卫硬笔常规体.TTF');
    font-weight: normal
    font-style: normal
}
@font-face {
    font-family: 'pzhyb';
    src: url('../font/庞中华硬笔字体.ttf');
    font-weight: normal
    font-style: normal
}
@font-face {
    font-family: 'yunyou';
    src: url('../font/云游体.ttf');
    font-weight: normal
    font-style: normal
}
@font-face {
    font-family: 'xiaowanzi';
    src: url('../font/新蒂小丸子高级版.ttf');
    font-weight: normal
    font-style: normal
}