// .playing , .playing-bg
//     width: 100%
//     height 100%
//     position: absolute
//     left 0
//     top: 0
//     overflow hidden
// .playing-bg
//     z-index: -1
//     opacity 0.8
//     filter: blur(30px);
// .playing
//     background-color: rgba(105,105,105,.3)
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(100%);
  opacity 0
}
.full-screen
    width: 100%
    height 100%
    position: absolute
    left 0
    top: 0
    z-index: 99
    background-color: white
    overflow hidden
    .bg-blur
        width: 120%
        height 120%
        position: absolute
        left -10%
        top: -10%
        z-index: -1
        filter: blur(20px) 
        opacity 0.4
// .mini-screen
//     width: 50px;
//     height 50px
//     position: fixed
//     right 0
//     top: 0
//     z-index: 99
//     line-height: 50px
//     background-color: $bgc
.bottom
    width: 100%
    position absolute
    bottom 0
    left 0
.cd
    width: 200px
    height 200px
    border-radius: 50%
    background: linear-gradient(black,#111,#222,#444,#444,#222,#111,black);
.full-screen
    background-color: black