.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(100%);
  opacity 0
}
.full-screen
    width: 100%
    height 100%
    position: absolute
    left 0
    top: 0
    z-index: 99
    background-color: white
    overflow hidden
    .bg-blur
        width: 120%
        height 120%
        position: absolute
        left -10%
        top: -10%
        z-index: -1
        filter: blur(20px) 
        opacity 0.4
.bottom
    width: 100%
    position absolute
    bottom 0
    left 0
.cd
    width: 280px
    height 280px
    border-radius: 50%
    box-shadow: 0 0 0 10px rgba(250,250,250,.2)
    text-align: center
    vertical-align: middle
    position absolute
    top: 45%
    left 50%
    margin-left: -140px
    margin-top: -140px
    animation round 20s linear infinite
    img 
        position: absolute
        width: 70%
        height 70%
        left 50%
        top: 50%
        margin-left: -35%
        margin-top: -35%
        border-radius: 50%
    background: linear-gradient(black,#111,#222,#444,#444,#222,#111,black);
    // animation round 20s linear infinite
    
@keyframes round{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
    }
.full-screen
    background-color: black
    .song-name,.singer-name
        display: block
        font-size: 10px
        color: #ccc
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    .song-name
        font-size: 18px
        line-height: 32px
        color: white
    .bottom-icons
        height 80px
        line-height: 80px
        display: flex
        justify-content: space-around
        align-items: center
        .state
            width: 55px
            height 55px
            border: 2px solid white
            text-align: center
            line-height: 55px
            border-radius: 50%
    .play-time-container
        width: 95%
        height 50px
        margin: 0 auto
        color: white
        display: flex
        justify-content: space-around
        align-items: center
        .progress
            flex: 1
            margin: 0 8px
        .left-time,.right-time
            line-height: 50px
            font-size: 12px
.lyric
    color: #ddd
    text-align: center
    // line-height: 80px
.play-list-pop
    background-color: white
    .pop-list-li
        display: flex
        justify-content: space-around
        border-bottom: 1px solid #eee
        .delete
            width: 5% 
            text-align: center
            line-height: 40px
    .name-container
        width: 80%
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    .song-name,.singer-name
        color: black
        display: inline-block
        line-height: 40px
    .singer-name
        color: #333
.van-popup
    border-radius:20px 20px 0 0
