.song-menu
    width: 100%
    height 100%
    .song-menu-header
        width: 90%;
        margin 10px auto
        display: flex
        justify-content: space-between
        .menu-pic
            width: 35%
            border-radius 10px
            overflow hidden
        .menu-description
            width: 60%
            .editor-infor
                // width: 60%
                height 30px
                line-height: 30px
                vertical-align: middle
                margin: 10px 0
                .head-pic
                    float left
                    border-radius:50%
        .list-description
            overflow: hidden ;
            display: -webkit-box ;
            -webkit-line-clamp: 2 ;
            -webkit-box-orient: vertical ;
            word-break: break-all ;
            font-size: 12px
            line-height: 20px
    .operate
        width: 100%
        display: flex
        justify-content: space-around
        margin: 10px 0
        span
            display: block
            text-align: center
    .play-list-conatiner
        width: 100%;
        .play-list
            width: 100%
            border-radius: 20px 20px 0 0
            .play-list-ul li:nth-child(even)
                width: 100%
                background-color: rgba(245,245,247,.8)